@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i|Roboto+Slab');

.card {
    margin-top: 2em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 19px 38px rgba(0,0,0,.1), 0 15px 12px rgba(0,0,0,.12); /*position -2 & 10 then 10 blur & some spread maybe*/
    padding-left: 0;
    padding-right: 0;
}

.main-heading {
    text-align: center;
    font-family: Lato;
}

.sub-heading {
    text-align: center;
    font-family: Lato;
}

.image {
    height: 200px;
    min-width: 100%;
    background-color: #adadad;
}

.articleImage {
    height: 200px;
    min-width: 100%;
}

.user-img {
    background-color: antiquewhite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.userImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: -15px;
}

.interactive-section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.heart {
    cursor: pointer;
}

.heart, .comment {
    width: 20px;
    height: 20px;
}

.likes {
    height: 20px;
    cursor: pointer;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

#home-button {
    margin-top: 1em;
    background: linear-gradient(to right, #232526, #414345);
}

#home-button a {
    color: white;
}

#home-button a:hover {
    text-decoration: none;
}

.title {
    font-family: Lato;
    /*font-style: italic;*/
    font-weight: 700;
}

.content {
    font-family: Roboto Slab;
}

@media only screen and (min-width: 768px) {
    /*body {
        background-color: lightblue;
    }*/
    
} 
